*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Expo Arabic;
    background-color: #F3F6F8;
}

.nav-manual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.logo-a {
    position: relative;
    right: 120px;
}

.item {
    position: relative;
    left: 100px;
    top: 0;
    padding: 0 18px 0 0;
}

.link {
    color: #434343;    
    font-size: 18px; 
}

.link:hover,
.link:focus {
    color: #F07F1A;
    border-top: 2px solid #F07F1A;
}

.intro {
    background: #bcbfc22a;
}

.intro-sec {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.info-one {
    font-size: 36px;
    color: #22274E;;
}

.info-two,
.about-two {
    padding-top: 20px;
    font-size: 21px;
}

.button-header,
.button-about {
    margin-top: 30px;
    background-color: #22274E;
    width: 230px;
    height: 60px;
    border-radius: 25px;
    text-align:center;
    padding-top: 7px;
}

.button-text {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.button-text:hover {
    color: #F07F1A;
}

.img-header {
    position: relative;
    text-align: left;
}

.img-one {
    width: 390px;
    height: 390px;
    margin: -100px 100px 0 0;
}

.back-color-header {
    background: #F07F1A;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: -260px;
    margin-right: 140px;
    z-index: -1;
}

.social-div {
    position: relative;
    top: 50px;
    right: 100px;
    display: grid;
    height: 270px;
}

.icon {
    color: white;
    width: 35px;
    height: 35px;
    text-decoration: none;
    font-size: 15px;
    background-color: #22274E;
    border-radius: 50%;
    text-align: center;
    padding: 10px 0 0 0.5px;
}

.icon:hover {
    color: white;
}

.about-sec {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

}

.about-info {
    color: #434343; 
    padding-top: 30px;
}

.about-one {
    font-size: 30px;
    color: #22274E;
    border-bottom: 3px solid #22274E;
    width: 110px;
}

.img-about {
    position: relative;
    text-align: left;
}

.img-two {
    width: 330px;
    height: 330px;
    margin-right: 120px;
}

.back-color-about {
    background: #F07F1A;
    width: 300px;
    height: 300px;
    border-radius: 25%;
    margin-top: -280px;
    margin-right: 150px;
    z-index: -1;
}

.services-sec {
    width: 100%;
    height: 100vh;
    align-items: center;
    background: #bcbfc22a;
    padding: 30px 0;
        display: flex;
    align-items: center;
}


.services-info {
    text-align: center;
}

.services-one {
    font-size: 30px;
    color: #22274E;
    border-bottom: 3px solid #22274E;
    width: 150px;
    margin: auto;
    margin-bottom: 10px;
}

.services-two {
    font-size: 26px;
    width: 75%;
    margin: auto;
}

.boxes {
    margin: 50px auto;
}

.box {
    padding: 80px 10px;
    border: 1px dashed #22274E;
    border-radius: 25%;  
    box-shadow: 0px 6px 36px #0000001A;
    opacity: 1;

}

.service-topic {
    font-size: 26px;
}









/*
@media (max-width: 600px) {

    .logo-a {
        position: relative;
        right: 10px;
    }
    
    .item {
        display: none;
    }
    
    .intro-info {
        top: 300px;
    }
    
    .info-one {
        font-size: 16px;
    }
    
    .info-two {
        font-size: 21px;
    }
    
    .button-header {
        margin-top: 30px;
        background-color: #22274E;
        width: 230px;
        height: 60px;
        border-radius: 25px;
        text-align:center;
        padding-top: 7px;
    }
    
    .button-text {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
    }
    
    .button-text:hover {
        color: #F07F1A;
    }
    
    .img-div {
        position: relative;
        top: 50px;
        text-align: left;
    }
    
    .img-one {
        width: 390px;
        height: 390px;
    }
    
    .back-color {
        background: #F07F1A;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-top: -250px;
        margin-right: 115px;
        z-index: -1;
    }
    
    .social-div {
        position: relative;
        top: 220px;
        right: 110px;
        display: grid;
        height: 230px;
    }
    
    .icon {
        color: white;
        width: 35px;
        height: 35px;
        text-decoration: none;
        font-size: 15px;
        background-color: #22274E;
        border-radius: 50%;
        text-align: center;
        padding: 10px 0 0 0.5px;
    }
    
    .icon:hover {
        color: white;
    }
}
*/