@import url('../Font ExpoArabic/ExpoArabic-Medium.ttf');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Expo Arabic";
    background-color: #F3F6F8;
    width: 100%;
}

.nav-manual {
    position: absolute;
    left: 0;
    width: 100%;
    left: 0;
    z-index: 1;
}

.link {
    color: #434343;    
    font-size: 21x; 
    margin-left: 30px;
}

.link:hover,
.link:focus {
    color: #F07F1A;
    border-top: 2px solid #F07F1A;
}

.intro {
    background: #bcbfc22a;
}

.intro-sec {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.info-one {
    text-align: right;
    font-size: 46px;
    color: #22274E;
}

.info-two {
    padding: 20px 0;
    font-size: 24px;
}

.button-header {
    width: 240px;
    height: 80px;
    background: transparent linear-gradient(248deg, #22274E 0%, #414776 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #1F7DA129;
    border-radius: 30px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

.button-text {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
}

.button-text:hover {
    color: #F07F1A;
}

.img-header {
    position: relative;
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

.img-one {
    width: 552px;
    height: 650px;
    margin-top: -150px;
    z-index: 3;
}

.back-color-header {
    position: absolute;
    width: 460px;
    height: 480px;
    background: #F07F1A;
    border-radius: 50%;
    z-index: 1;
}

.social-div {
    position: relative;
    display: grid;
    justify-content: left;
    align-items: center;  
    margin-left: -100px;
    text-decoration: none !important;
}

.icon {
    color: white;
    width: 35px;
    height: 35px;
    text-decoration: none !important;
    background-color: #22274E;
    border-radius: 50%;
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

.icon:hover {
    color: #F07F1A;
}

.about-sec {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.about-one {
    font-size: 46px;
    color: #22274E;
    border-bottom: 4px solid #22274E;
    width: 200px;
}

.about-two {
    color: #434343; 
    font-size: 24;
    line-height: 70px;
}

.button-about {
    width: 240px;
    height: 80px;
    background: transparent linear-gradient(248deg, #22274E 0%, #414776 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #1F7DA129;
    border-radius: 30px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

.img-about {
    position: relative;
    display: flex;  
    justify-content: left;  
    align-items: center;  
}

.img-two {
    width: 480px;
    height: 570px;
    margin-top: -50px;
    justify-content: left;  
    z-index: 3;
}

.back-color-about {
    position: absolute;
    width: 450px;
    height: 450px;
    background: #F07F1A;
    border-radius: 20%;
    z-index: 1;
}

.services-sec {
    width: 100%;
    height: 100vh;
    align-items: center;
    background: #bcbfc22a;
    display: flex;
    align-items: center;
}

.services-info {
    text-align: center;
}

.services-one {
    font-size: 46px;
    color: #22274E;
    border-bottom: 4px solid #22274E;
    width: 200px;
    margin: auto;
    margin-bottom: 50px;
}

.services-two {
    font-size: 26px;
    width: 80%;
    margin: auto;
    line-height: 70px;
}

.box {
    padding: 10px;
    border: 1px dashed #22274E;
    border-radius: 10%;  
    box-shadow: 1px 6px 36px #0000001A;
    opacity: 1;
    background: #fff;
    margin: 50px 50px;
}

.service-topic {
    font-size: 26px;
}

.service-sub-topic {
    font-size: 20px;
    line-height: 40px;
}

.service-icons {
    text-align: center;
    justify-content: center;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 5px;
    margin-top: 20px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:active span {
    background: #22274E;
}

.div-icon-right {
    display: flex;
    z-index: 10;
    position: absolute;
    margin-top: 15%;
    right: 50px;
}

.div-icon-left {
    display: flex;
    z-index: 10;
    position: absolute;
    margin-top: 15%;
    left: 50px;
}

.package-sec {
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    align-items: center;
    margin: auto;
}

.package-info {
    text-align: center;
}

.package-one {
    font-size: 46px;
    color: #22274E;
    border-bottom: 4px solid #22274E;
    width: 200px;
    margin: auto;
}

.package-two {
    font-size: 26px;
    width: 80%;
    margin: 40px auto;
}

.package-box {
    box-shadow: 0px 3px 6px#1F7DA129;
    border-radius: 55px;
    opacity: 1;
    padding: 10px;
    margin: auto 20px;
    background: #bcbfc22a;
    border: 2px dashed #bcbfc22a;
}

.package-topic {
    font-size: 26px;
}

.salary {
    color: #F07F1A;
    font-size: 24px;
}

.button-package {
    background-color: #22274E;
    width: 220px;
    height: 60px;
    border-radius: 15px;
    margin: 10px auto;
    display: flex;
    justify-content: center;  
}

.i-text {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-text:hover {
    color: #F07F1A;
}

.package-p {
    font-size: 18px;
    text-align: right;
}

.works-sec {
    width: 100%;
    height: 100vh;
    align-items: center;
    background: #bcbfc22a;
    display: flex;
    margin: auto;
}

.works-info {
    text-align: center;
}

.works-one {
    font-size: 46px;
    color: #22274E;
    border-bottom: 4px solid #22274E;
    width: 200px;
    margin: auto;
}

.works-two {
    font-size: 26px;
    width: 80%;
    margin: 80px auto;
}

.works-imgs {
    padding: 60px 170px 40px 170px;
}

.button-works {
    margin: auto;
    background-color: #22274E;
    width: 300px;
    height: 80px;
    border-radius: 25px;
    text-align:center;
    display: flex;
    justify-content: center;  
}

.wroks-i-text {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-sec {
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    align-items: center;
}

.all-box {
    width: 1410px;
    height: 547px;
    padding: 20px;
    border-radius: 25px;
    background: url('../img/back.svg');
    color: #fff;
}

.note-info {
    padding: 30px;
}

.note-one {
    font-size: 40px;
}

.note-two {
    text-align: right;
    font-size: 26px;
    line-height: 70px;
    margin: 30px 0;
}

.button-note {
    background-color:#F07F1A;
    width: 240px;
    height: 80px;
    border-radius: 10px;
    text-align:center;
    display: flex;
    justify-content: center;  
    cursor: pointer;
}

.anchor-note {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchor-note:hover {
    color: #22274E;
}

.note-imgs {
    text-align: left;
    margin-top: -53%;
}

.img-note{
    width: 652px;
    height: 750px;
}

.blogs-sec {
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    align-items: center;
    background: #bcbfc22a;
}

.blogs-info {
    text-align: center;
}

.blogs-one {
    font-size: 46px;
    color: #22274E;
    border-bottom: 4px solid #22274E;
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
}

.blogs-two {
    font-size: 26px;
    width: 80%;
    margin: auto;
    line-height: 70px;
    margin-bottom: 30px;
}

.blogs-box {
    box-shadow: 0px 3px 6px#fff;
    border-radius: 0 0px 20px 20px;
    padding: 20px;
    background: #fff;
}

.blogs-topic {
    text-align: justify;
    font-size: 20px;
}

.button-blogs {
    border-radius: 10px;
    text-align: right;
}

.button-text-note {
    text-decoration: none;
    font-size: 20px;
    color: #22274E;
    background: transparent;
    border: 0;
}

.button-text-note:hover {
    color:#F07F1A;
    background: transparent;
}

.bloc-icon {
    width: 30px;
    margin-right: 10px;
    font-size: 20px;
}

.opinions-sec {
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    align-items: center;
}

.opinions-info {
    text-align: right;
    padding-bottom: 100px;
}

.opi-icon {
    width: 40px;
    height: 40px;
    margin: auto 10px;
}

.opinions-one {
    font-size: 46px;
    color: #22274E;
    border-bottom: 4px solid #22274E;
    width: 250px;
}

.opinions-box {
    box-shadow: 1px 6px 36px #0000001A;    
    border-radius: 60px;
    margin: auto;
    width: 70%;
    background: #fff;
}

.opinions-topic {
    text-align: justify;
    padding: 30px;
    font-size: 18px;
}

.img-info {
    display: flex;
    margin-right: 20px;
}

.person-image {
    width: 58px;
    height: 58px;
    margin-left: 20px;
}

.opinions-name { 
    font-size: 18px;
    color: #413AD6;
}

.opinions-position { 
    font-size: 15px;
    color: #B9C4D1;
}

.footer {
    background: #22274E;
    width: 100%;
    padding-top: 30px;
}

.footer-img {
    padding-bottom: 10px;
}

.footer-para {
    justify-content: center;
    font-size: 20px;
    line-height: 40px;
}

.email-div {
    width: 392px;
    padding-bottom: 20px;
}

.email-placeholder {
    background: #3f4366;
    border: 2px solid #FFFFFF;
    border-left: none;
    text-align: right;
    border-radius: 25px;
    margin: auto;
    color: #fff;
}

.email-send {
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    color: #413AD6;
}


.footer-h {
    font-size: 32px;
    border-bottom: 2px solid #b4b6c5;
    margin-bottom: 30px;
}

.footer-p {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.footer-p:hover {
    color: #F07F1A;
    cursor: pointer;
}

.social-footer {
    display: flex;
}

.footer-icon {
    padding: 18px;
    margin-left: 10px;
    text-align: center;
    background: #3f4366;
}

.footer-end {
    text-align: center;
    font-size: 26px;
    width: 100%;
    padding: 5px;
    color: #F07F1A;
}

.year {
    color: #fff;
}
